.main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px 0px 20px;

    .story {
        padding: 20px 20px 20px 0;
        color: var(--14, #909090);
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;

        span {
            color: #FFF;
        }
    }
}

table {
    width: 60%;
    border-collapse: collapse;
    color: var(--14, #909090);
    font-weight: 500;
    font-size: 20px;
}

td:nth-child(3) {
    color: rgb(255, 255, 255);
}

td {
    padding: 10px;
    text-align: left;
}

@media (max-width: 768px) {
    .story{
        font-size: 18px;
    }
    table{
        font-size: 18px;
    }
    td{
        padding: 10px 5px;
    }
}