<div class="main">
  <app-shared-tittle [Data]="Data"></app-shared-tittle>
  <div class="story">
    Hi, my name is <span>Tejas Dabare</span> full-stack developer with one year
    of professional experience. I excel in building robust web applications,
    combining modern front-end and back-end technologies. My passion lies in
    solving complex problems and delivering high-quality, innovative solutions.
    I thrive in dynamic environments and love collaborating with teams to create
    exceptional software. Let's work together to bring your ideas to life!
  </div>
  <div>
    <table>
      <tr>
        <td>Name</td>
        <td>:</td>
        <td>Tejas Dabare</td>
      </tr>
      <tr>
        <td>Nationality</td>
        <td>:</td>
        <td>Indian</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>:</td>
        <td>+91 9112797835</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>:</td>
        <td>tejasdabare12&#64;gmail.com</td>
      </tr>
      <tr>
        <td>Experience</td>
        <td>:</td>
        <td>1.5+ years</td>
      </tr>
      <tr>
        <td>Freelance</td>
        <td>:</td>
        <td>Available</td>
      </tr>
      <tr>
        <td>Language</td>
        <td>:</td>
        <td>English</td>
      </tr>
    </table>
  </div>
  <div></div>
</div>
