<div
  [ngClass]="{'main':true, 'Html':skillName==='Html','Scss':skillName==='Scss','Bootstrap':skillName==='Bootstrap','Javascript':skillName==='Javascript','Typescript':skillName==='Typescript','Git':skillName==='Git','Angular':skillName==='Angular 18','Ionic':skillName==='Ionic','Firebase':skillName==='Firebase','cloudFunction':skillName==='Cloud Function',}"
>
  <div class="logo">
    <img src="{{ Data.logo }}" />
  </div>
  <div class="info">
    <div class="percent">{{ Data.percent }}</div>
    <div class="body">{{ Data.skill }}</div>
  </div>
</div>
