<div class="main">
  <app-shared-tittle [Data]="data"></app-shared-tittle>

  <div class="projectCard">
    <img src="../../assets/Designer.webp" alt="Lottery application Image">
    <div class="data">
      <div class="title">
        <p>Lottery syndicate management service</p>
        <p><i>present</i></p>
      </div>
      <p>Description :</p>
      <p>
        The webapp offers a range of services related to lottery syndicates and
        gaming. Users can easily participate in various syndicates and
        lotteries, enhancing their chances of winning. The platform provides a
        streamlined process for managing these syndicates and accessing
        exclusive member perks and promotions.
      </p>
    </div>
  </div>
</div>
