<div class="main">
  <app-shared-tittle [Data]="Data"></app-shared-tittle>
  <div class="subHeading">take a coffee & chat with me</div>
  <div class="contactWay">
    <div class="Contact">
      <div class="logo"><i class="bi bi-envelope-fill"></i></div>
      <div class="body">
        <div class="heading">Email</div>
        <div class="description">tejasdabare12&#64;gmail.com</div>
      </div>
    </div>
    <div class="Contact">
      <div class="logo"><i class="bi bi-phone-fill"></i></div>
      <div class="body">
        <div class="heading">Phone</div>
        <div class="description">9112797835</div>
      </div>
    </div>
  </div>
</div>
