.main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 0px 0px 20px;
    margin-right: 20px;

    .subHeading {
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        padding: 30px 0px 20px 0px;
        font-weight: 500;
    }

    .contactWay {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .Contact {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 20px;
        border-radius: 20px;
        background: var(--5, #171B22);
        padding: 10px;
        flex: 1 1 300px;
        max-width: 450px;
        box-sizing: border-box;
        box-shadow: 0 0 5px rgba(150 150 150);

        @media(max-width: 450px) {
            margin-right: 20px;
            gap: 10px;
        }

        .logo {
            width: 80px;
            height: 80px;
            background: #00CC97;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 40px;
        }

        .body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            .heading {
                font-size: 20px;
                text-transform: uppercase;
                color: #909090;
            }

            .description {
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 1px;
                cursor: pointer;
            }

            .description:hover {
                color: #00CC97;
            }
        }
    }

    @media(max-width: 360px) {
        .contactWay {
            gap: 10px;
            padding: 5px;


            .Contact {
                flex: 1 1 100%;
                max-width: 100%;
                gap: 10px;
                padding: 5px;
                margin-right: 0px;
                


                .logo {
                    width: 60px;
                    height: 60px;
                    font-size: 30px;
                }

                .body {
                    gap: 5px;

                    .heading {
                        font-size: 16px;
                        /* Reduce font size */
                    }

                    .description {
                        font-size: 16px;
                        /* Reduce font size */

                    }
                }
            }
        }
    }

    /* General form styles */
    form {
        width: 100%;
        margin: 20px auto;
        padding: 20px;
        border-radius: 8px;
        background-color: #171B22;
        box-shadow: 0 0 5px rgba(150 150 150);
        gap: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        textarea{
            min-height: 70px;
        }


    }

}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: none !important;
    width: 100% !important;

    @media(max-width:450px) {
        width: 33% !important;
    }
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
    color:rgb(200, 200, 200)!important;
    font-weight: 400;
    font-size: 20px;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: none;
    width: 80%;
}

::ng-deep {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
        color: #FFF !important;
        font-weight: 400;
        font-size: 20px;
    }
}

mat-form-field {
    width: 900px !important;
}

::ng-deep .mat-mdc-raised-button[disabled][disabled] {
    --mdc-protected-button-disabled-container-color: rgb(100 100 100) !important;
    --mdc-protected-button-disabled-label-text-color: rgb(255, 255, 255) !important;

}
::ng-deep html{
    --mdc-filled-text-field-input-text-placeholder-color: rgb(150, 150, 150)  !important;
}