.main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 0px 0px 20px;
    margin-right: 20px;

    .subHeading {
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        padding: 30px 0px 20px 0px;
        font-weight: 500;
    }

    .contactWay {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;


        .Contact {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            gap: 20px;
            border-radius: 8px;
            background: var(--5, #171B22);
            padding: 10px;  
            flex: 1 1 300px;
            width: 50%;
            box-sizing: border-box;
            border: 1px solid rgb(150 150 150) ;
            box-shadow: 0 0 5px rgba(150 150 150);

            .logo {
                width: 55px;
                height: 55px;
                background: #00CC97;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 30px;
            }

            .body {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 10px;

                .heading {
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #909090;
                }

                .description {
                    text-decoration: none;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 500;
                }
            }
        }
        .Contact:hover{
            .body{
                .description {
                    color: #00CC97;
                }
            } 
        }
    }

    @media(max-width: 450px) {
        .contactWay {
            gap: 20px;
            .Contact {
                flex: 1 1 100%;
                max-width: 100%;
                gap: 10px;
                padding: 10px;
                margin-right: 0px;

                .body {
                    gap: 5px;

                    .heading {
                        font-size: 16px;
                    }

                    .description {
                        font-size: 16px;

                    }
                }
            }
        }
    }

    /* General form styles */
    form {
        width: 100%;
        margin: 20px auto;
        padding: 20px;
        border-radius: 8px;
        background-color: #171B22;
        border: 1px solid rgb(150 150 150) ;
        box-shadow: 0 0 5px rgba(150 150 150);
        gap: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        textarea{
            min-height: 70px;
        }
        .formBottom{
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 2%;
            button:nth-child(1){
                width: 83%;
                font-size: 16px;
            }
            button:nth-child(2){
                width: 15%;
                font-size: 16px;
            }
        }
        @media(max-width :450px){
            padding: 10px;
            .formBottom{
                button:nth-child(1){
                    width: 73%;
                }
                button:nth-child(2){
                    width: 25%;
                }

            }
        }
    }
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
   background-color: #ffffff00 !important;
    width: 100% !important;
    border: 1px solid rgb(150 150 150) ;
    box-shadow: 0 0 3px rgba(150 150 150);
    border-radius: 8px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgb(200, 200, 200) !important;
    font-weight: 400;
    font-size: 20px;
}

::ng-deep .mat-mdc-text-field-wrapper {
    background-color: none;
    width: 80%;
}

::ng-deep {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
        color: #ffffff !important;
        font-weight: 400;
        font-size: 20px;
    }
}

mat-form-field {
    width: 100% !important;
}

::ng-deep .mat-mdc-raised-button[disabled][disabled] {
    --mdc-protected-button-disabled-container-color: rgb(100 100 100) !important;
    --mdc-protected-button-disabled-label-text-color: rgb(255, 255, 255) !important;

}
::ng-deep .mat-mdc-raised-button{
    border-radius: 8px !important;
    font-family: "Helvetica Neue", sans-serif !important;
    font-weight: 600 !important;
}

::ng-deep html {
    --mdc-filled-text-field-input-text-placeholder-color: rgb(200, 200, 200) !important;
    --mdc-filled-text-field-focus-active-indicator-color: #00CC97 !important;
}