::ng-deep .mat-mdc-snack-bar-container {
    text-align: center !important;
    

}
::ng-deep .mdc-snackbar__surface{
    background-color: #ffffff !important;
   

}
::ng-deep .mdc-snackbar__label{
    color: black !important;
    font-weight: 500 !important;

}   