<div class="main row">
  <div class="col-md-6 info">
    <div class="fullName" data-aos="zoom-in">
      <p class="name">Tejas</p>
      <p class="surname">Dabare</p>
    </div>
    <div class="position">{{ currentword }}</div>
    <div class="service">
      Providing end-to-end full stack development services, from
      conceptualization and design to deployment and maintenance.
    </div>
    <div class="contactTab">
      <div class="container" >
        <a class="btn-1" href="#contact" >View Work</a>
        <div class="overlay"></div>
      </div>
      <div class="container">
        <a class="btn-2" href="#contact">Contact Me</a>
      </div>
    </div>
</div>
  <div class="col-md-6 avtar">
    <div class="avtar-widge"></div>
    <div class="avtar-img">
    </div>
  </div>
</div>
