<div class="main row">
  <div class="col-md-6 info">
    <div class="fullName" data-aos="zoom-in" data-aos-duration="1000">
      <p class="name">Tejas</p>
      <p class="surname">Dabare</p>
    </div>
    <div class="position">{{ currentword }}</div>
    <div class="service" data-aos="zoom-in">
      Providing end-to-end full stack development services, from
      conceptualization and design to deployment and maintenance.
    </div>
    <div class="contactTab" data-aos="zoom-in">
      <div class="container">
        <a class="btn-1" href="#resume">View Work</a>
        <div class="overlay"></div>
      </div>
      <div class="container">
        <a class="btn-2" href="#contact">Contact Me</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 avtar">
    <div class="avtar-widge">
      <img src="../../assets/TEJAS.webp" />
    </div>
    <div class="avtar-img" data-aos="zoom-in" data-aos-duration="1000"></div>
  </div>
</div>
