<div class="sidenav">
    <div class="Profile">
      <div class="Image" data-aos="zoom-in">
        <img src="../../assets/avtarSideNav.webp" alt="">
      </div>
      <div class="Name">
        <p>Tejas</p>
        <p class="surname">Dabare</p>
      </div>

      <div class="Position">{{currentWord}}</div>

      <div class="contact">
        <li>
          <ul>
          <a href="mailto:tejasdabare12@gmail.com" title="Gmail"> <i class="bi bi-envelope-fill"></i></a>
          </ul>
          <ul>
            <a href="https://github.com/tejasdabare12" title="Github"><i class="bi bi-github"></i></a>
          </ul>
          <ul>
            <a href="https://in.linkedin.com/in/tejas-dabare" title="Linkidin"> <i class="bi bi-linkedin"></i></a>
          </ul>
        </li>
      </div>
    </div>
    <div class="navigators">
      <div>
        <a class="tab" href="#main_page">
          <div  data-aos="fade-right"><i class="bi bi-house icon"></i></div>
          <div  data-aos="fade-right" class="tag">Home</div>
        </a>
        <a class="tab" href="#about">
          <div  data-aos="fade-right"><i class="bi bi-person icon"></i></div>
          <div  data-aos="fade-right" class="tag">About</div>
        </a>
        <a class="tab" href="#resume">
          <div  data-aos="fade-right"><i class="bi bi-person-vcard icon"></i></div>
          <div  data-aos="fade-right" class="tag">Resume</div>
        </a>
        <a class="tab" href="#projects">
          <div  data-aos="fade-right"><i class="bi bi-briefcase icon"></i></div>
          <div  data-aos="fade-right" class="tag">Projects</div>
        </a>
        <a
          class="tab"
          href="#contact"
          style="border-bottom: 1px solid #ffffff5d"
        >
          <div><i class="bi bi-envelope icon"></i></div>
          <div class="tag">Contact</div>
        </a>
      </div>
      <div class="downloadButton">
        <app-download title="Download CV"></app-download>
      </div>
    </div>
</div>