<div class="row" style="padding: 0">
  <div class="col-lg-3 bigNav">
    <app-side-navbar></app-side-navbar>
  </div>
  <div class="col-lg-9  mainContent">
    <app-main-page id="main_page"></app-main-page>
    <app-about id="about"></app-about>
    <app-resume id="resume"></app-resume>
    <app-contact id="contact"></app-contact>
  </div>
</div>

<button
  class="btn btn-primary hamburger"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasWithBothOptions"
  aria-controls="offcanvasWithBothOptions"
>
<i class="bi bi-list"></i>
</button>
<div class="offcanvas offcanvas-start smallNav" data-bs-scroll="true" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-body">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <app-side-navbar></app-side-navbar>
  </div>
</div>
