.sidenav {
    z-index: 1;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .Profile{
        background-color: antiquewhite;
        width: 100%;
        height: 50%;
    }
    .navigaters{
        background-color: rgb(250, 6, 46);
        display: flex;
        flex-direction: row;

        .tab{
            background-color: rgb(56, 76, 94);
            display: flex;
            flex-direction:row;
        }
    }
  }