.sidenav {
    z-index: 1;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #332e2e;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    .Profile {
        width: 100%;
        height: 50vh;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .contact{
            li{
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                text-decoration: none;
                list-style: none;
                align-items: center;
                overflow: hidden;
                padding: 0;
                margin: 0;
                font-size: 20px;
                color: azure;

                ul{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 20%;
                    border: 1px solid black;
                    background-color: black;
                    border-radius: 50%;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .navigators {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 100%;
        height: 50vh;
        justify-content: space-between;
        padding-bottom: 10%;
        .tab {
            border-top:1px solid #ffffff5d;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-items: center;
            padding: 10px 20px;
            text-decoration: none;
            font-family: "DM Sans, sans-serif";

            .icon {
                color: rgb(221, 221, 221);
                margin-right: 10px;
                font-size: 22px;
            }

            .tag {
                color: var(--8, #909090);
                font-size: 16px;
            }

        }
        .active-menu-action a.active {
            filter: brightness(0) saturate(100%) invert(55%) sepia(64%) saturate(887%) hue-rotate(120deg) brightness(94%) contrast(101%);
        }
        a:hover{
            color: darkcyan;
        }
       
    }
}