.sidenav {
    z-index: 1;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    .Profile{
        background-color: antiquewhite;
        width: 100%;
        height: auto;
    }
    .navigaters{
        background-color: pink;
        display: flex;
        flex-direction: column;

        .tab{
            display: flex;
            flex-direction: row;
            border-top: 1px solid red;
        }
    }
  }