<div class="row">
  <div class="col-md-3 sidenav">
    <div class="Profile">
      <div class="Image"></div>
      <div class="Name"></div>
      <div class="Position"></div>
      <div class="contact">
        <li>
          <ul><i class="bi bi-envelope"></i></ul>
          <ul><i class="bi bi-github"></i></ul>
          <ul><i class="bi bi-linkedin"></i></ul>
        </li>
      </div>
    </div>
    <div class="navigators">
      <a class="tab" href="#home">
        <div><i class="bi bi-house icon"></i></div>
        <div class="tag">Home</div>
      </a>
      <a class="tab" href="#about">
        <div><i class="bi bi-person icon"></i></div>
        <div class="tag">About</div>
      </a>
      <a class="tab" href="#resume">
        <div><i class="bi bi-person-vcard icon"></i></div>
        <div class="tag">Resume</div>
      </a>
      <a class="tab" href="#contact" style="border-bottom:1px solid #ffffff5d;">
        <div><i class="bi bi-envelope icon"></i></div>
        <div class="tag">Contact</div>
      </a>
      <div>
      <app-download></app-download></div>
    </div>
    
  </div>
  <div class="col-md-9">abc</div>
</div>
